
/* used to have a footer with status
 * http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css
 */
.status {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  padding: 5px;
}

.node {
  width: 102px;
  max-width: 102px;
  height: 158px;
  max-height: 158px;
  margin: auto;
  padding: 2px;
  position: relative;
}

.bottom-right {
    position: absolute;
    right:    4px;
    bottom:   2px;
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #2a3b6f;
    background: rgba(255,255,255,0.6);
    border-radius: 25px;
}

.bottom-left {
    position: absolute;
    left:    4px;
    bottom:   2px;
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #2a3b6f;
    background: rgba(255,255,255,0.6);
    border-radius: 25px;
}

.up-right {
    position: absolute;
    right:    4px;
    top:   4px;
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(255,255,255,0.6);
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    border-radius: 25px;
}

.up-left {
    position: absolute;
    left:    4px;
    top:   4px;
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(255,255,255,0.6);
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    border-radius: 25px;
}

.no-more {
    color: #990000;
}

.greyout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

.list-group {
  margin-top: 10px;
}

.multiple {
    border-left: grey 3px solid;
    border-bottom: grey 3px solid;
    border-right: white 3px solid;
    border-top: white 3px solid;
    border-top-left-radius: 2px;
    padding: 0px 0px 1px 1px;
}

.type {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 154px;
  border: 2px solid gray;
  margin: auto;
}

.place-description {
    display: block;
}

/* Prevent images from going outside the div! */
img {
    max-width: 100%;
    max-height: 100%;
}

/* color codes for game concepts */
.gold{
    color: #e5c100;
}

.buy{
    color: #006600;
}

.victory{
    color: #00CD00;
}

.slot{
    color: #333333;
}

.card{
    color: #333333;
}

.attack{
    color: #333333;
}