
#logout-btn {
    position: absolute;
    top : 0;
    right : 0;
    padding : 20px;
    font-size: 1.5em;
    font-weight: bold;
}


#game-status {
    position: fixed;
    bottom:0;
    margin: 0px 30px 5px 30px;
    width: 95%;
    background-color: rgba(180,180,250,0.7);
    padding: 5px;
    font-size: 15px; /*21px avec l'interligne */
    height: 25px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    font-weight: bold;
}

#map td:hover {
    background-color: #e0e0e0;
}

.node {
  margin: auto;
  padding: 2px;
  position: relative;
}

.node-right {
    width: 50%;
    float: right;
}

.node-left {
    width: 50%;
    float: left;
}

.bottom-right {
    position: absolute;
    right:    4px;
    bottom:   2px;
    padding: 2px;
}

.bottom-left {
    position: absolute;
    left:    4px;
    bottom:   2px;
}

.up-right {
    position: absolute;
    right:    4px;
    top:   4px;

}

.up-left {
    position: absolute;
    left:    4px;
    top:   30%;
}

.bottom-left, .bottom-right, .up-right, .up-left {
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
    background: rgba(255,255,255,0.6);
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    border-radius: 25px;
}



#yourTurnModal div{
    position:relative;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    text-align: center;
}

.no-more {
    color: #990000;
}

.greyout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

.list-group {
  margin-top: 10px;
}

.panel-title {
    font-weight: bold;
}

.player-panel{
    position:relative;
}

.multiple {
    border-left: grey 6px solid;
    border-bottom: grey 6px solid;
    border-right: white 6px solid;
    border-top: white 6px solid;
    border-top-left-radius: 4px;
    padding: 0px 0px 2px 2px;
}

.type {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 154px;
  border: 2px solid gray;
  margin: auto;
}

.image-overlay {
    /* ensure text is over image */
    position: absolute;
    z-index: 1;
	top: 15px;
	left: 0;
    /* center text on image */
    width: 100%;
    text-align:center;
}

.place-description {
    display: block;
}

/* Prevent images from going outside the div! */
img {
    max-width: 100%;
    max-height: 100%;
}

/* color codes for game concepts */
.gold{
    color: #e5c100;
}

.buy{
    color: #006600;
}

.victory{
    color: #00CD00;
}

.slot{
    color: #333333;
}

.card{
    color: #333333;
}

.attack{
    color: #333333;
}