
/* used to have a footer with status
 * http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css
 */
.status {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.node {
  width: 100px;
  max-width: 100px;
  height: 154px;
  max-height: 154px;
  border: 2px solid gray;
  margin: auto;
}

.type {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 154px;
  border: 2px solid gray;
  margin: auto;
}

/* Prevent images from going outside the div! */
img {
    max-width: 100%;
    max-height: 100%;
}
